# Copyright (C) 2025 The University of Texas MD Anderson Cancer Center
#
# This file is part of xPEDITE.
#
# xPEDITE is free software: you can redistribute it and/or modify it under the terms of the
# GNU General Public License Version 2 as published by the Free Software Foundation.
#
# xPEDITE is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with xPEDITE.
# If not, see <https://www.gnu.org/licenses/>.

## Configurations for LDAP-JWT authentication
location /authenticate {
  proxy_set_header Host $http_host;
  proxy_pass ${LDAP_JWT_HOST}/ldap-jwt/authenticate;
  proxy_set_header Referer "";
}

location /verify {
  proxy_set_header Host $http_host;
  proxy_pass ${LDAP_JWT_HOST}/ldap-jwt/verify;
  proxy_set_header Referer "";
}

location @error401 {
  return 302 /${URL_PATHNAME}/login;
}
